// --------------------------------------------------------------
// This file contains all variable declarations, if any.
// --------------------------------------------------------------

// Colors
$main-color: rgb(37, 14, 80);
$secondary-color: rgb(52, 16, 119);
$primary: $secondary-color;

// Fonts
$header-font: 'Dusha', sans-serif;
$primary-font: 'Rosemary', sans-serif;
$secondary-font: 'Dusha', sans-serif;